<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs')  %>
<body>
    <%-include ('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>about</h2>
            <p>Alida is an online school that offers training on coding and programming. The school  currently targets the african youth population. The main goal is to bridge the gap of developers and software engineers hailing from africa with the rest of the world. Alida has invested heavily in generation of tech talent in Africa</p>
            <p>Alida School is an online coding school. We train our students to become software engineers in just 12 weeks</p>
    </div>

    <br>

    <img src="/images/full-stack-training.png" alt="test image">
    
    <%-include('./partials/footer.ejs')  %>
</body>
</html>